/* Font Families */

/* Work Sans */
@font-face {
    font-family: "Work Sans";
    src: url("/fonts/worksans/WorkSans-Thin.ttf") format("truetype");
    font-weight:100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Work Sans";
    src: url("/fonts/worksans/WorkSans-ExtraLight.ttf") format("truetype");
    font-weight:200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Work Sans";
    src: url("/fonts/worksans/WorkSans-Light.ttf") format("truetype");
    font-weight:300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Work Sans";
    src: url("/fonts/worksans/WorkSans-Regular.ttf") format("truetype");
    font-weight:400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Work Sans";
    src: url("/fonts/worksans/WorkSans-Medium.ttf") format("truetype");
    font-weight:500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Work Sans";
    src: url("/fonts/worksans/WorkSans-SemiBold.ttf") format("truetype");
    font-weight:600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Work Sans";
    src: url("/fonts/worksans/WorkSans-Bold.ttf") format("truetype");
    font-weight:700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Work Sans";
    src: url("/fonts/worksans/WorkSans-ExtraBold.ttf") format("truetype");
    font-weight:800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Work Sans";
    src: url("/fonts/worksans/WorkSans-Black.ttf") format("truetype");
    font-weight:900;
    font-style: normal;
    font-display: swap;
}